.bg-custom-red{
    background-color: red;
}

.bg-custom-green{
    background-color: #006600;
}

.bg-custom-yellow{
    background-color:  #cccc00;
}

.bg-custom-orange{
    background-color: #ff6600;
}

.bg-custom-blue1{
    background-color:  #111822;
}

.bg-custom-blue2{
    background-color: #223044;
}

.bg-custom-blue3{
    background-color: #223044;
}

.text-custom-red{
    color: red;
}

.text-custom-green{
    color: #006600;
}

.text-custom-yellow{
    color:  #cccc00;
}

.text-custom-blue1{
    color:  #111822;
}

.text-custom-blue2{
    color: #223044;
}

.text-custom-blue3{
    color:#7793bb;
}

.text-custom-white{
    color: #ffffff;
}