#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
  
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 85vh;
  }
  
  .swiper-wrapper{
     background:  rgb(68 64 60);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically 
    display: flex;
    justify-content: center;
    align-items: center;*/
  }

  .second-showcase{
    padding: 60px; 
  }

  .grd{
    background: #212224;
  }

  .grd-mkt{
    height: 275px;
  }

  .sec-showcase{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
  }
  
.swiper-slide img {
    display: block;
    width: 86%;
    height: 86%;
    object-fit: cover;
}

.swiper-button-next::after{
    color: white;
}

.swiper-button-prev::after{
    color: white;
}

.contner{
    position: relative; 
}

.spread{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
  
/* Dropdown Styles */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    min-width: 160px;
  }
  
  .dropdown-content li {
    padding: 8px 16px;
  }
  
  .dropdown-content li:hover {
    background-color: #f5f5f5;
  }
  
  /* Hide the dropdown by default */
  .dropdown-content {
    display: none;
  }
  
  /* Position the dropdown content */
  .dropdown-content.absolute {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .third-container{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 55%, rgb(255, 239, 236) 100%);
  }

  .third-container .first-flex{
    display: flex;
}

.third-container .first-flex .first-flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.third-container .first-flex .first-flex-container .text-blurb{
    margin-left: 10px;
}

.third-container .first-flex .first-flex-container .text-blurb h1{
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 22px;
}

.third-container .first-flex .first-flex-container .text-blurb p{
    padding-bottom: 10px;
    font-size: 17px;
    width: 75%;
    color: #707070;
}

.third-container .first-flex .first-flex-container .text-blurb button{
    padding-top: 10px;
    color: #707070c7;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
}

.third-container .first-flex .first-flex-container .text-blurb button:hover{
   border-bottom: 2px solid #707070;
   color: #707070;
   transition: 0.4s solid ease-in-out;
}

.rect{
  width: 70%;
  margin-bottom: 20px;
}

.circ{
  margin: auto;
  padding-top: 20px;
}

.bgh{
  background-image:url('/in-liquid-3-bg.png');
}

.bgg{
  background-image:url('/in-team-background-1.png');
  background: rgba(233, 233, 233, 0.808);
}

.blg{
  padding-left: 50px;
  padding-right: 50px;
}

.bg-money{
  background-image:url('/in-liquid-5-bg.png');
}

.oko{
  width: 50px!important;
}

.lst{
  margin-top: 80px;
  margin-bottom: 70px;
}

.logo{
  width: 70px;
  height: 70px;
}

.custom-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: rgba(26, 26, 26, 0.8);
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  height: 80px;
}

.company-name{
  color: white;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;;
}

.nav > a:hover{
  color: white;
}

.custom-button{
  height: 40px;
  background-color: #FC5B3F;
  font-size: 12px;
  font-weight: 300;
}

.border-orange{
  border-color: #FC5B3F;
}

.section-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.section-flex .first-grid{
  display: flex;
  align-items: center;
}

.core{
  margin: auto;
}

.blog-flex{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
  margin-bottom: 20px;
}

.small-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.flexpr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx{
  display: flex;
  justify-content: space-between;
}

.plt{
  background: rgb(92, 212, 92);
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(92, 212, 92);
  border-radius: 3%;
  width: 100px;
  height: 25px;
  color: #fff;
  padding-bottom: 20px;
}

.blog-card{
  padding-bottom: 30px;
  border: 1px solid gainsboro;
}

.blog-img{
  padding-right: unset!important;
  padding-left: unset!important;
}

.flx{
  padding-left: 15px;
  padding-right: 15px;
}

.search-btn{
  margin-bottom: 30px;
}

.search-btn input{
  border: 1px solid gainsboro;
  padding: 9px;
  width: 74%;
}

.search-btn button:hover{
  background-color: #fc5b3fc2;
}

.blog-categories{
  background: #f3f4f5;
  padding: 30px;
  margin-bottom: 30px;
}

.blog-flex-second{
  margin-left: 40px;
}

.ctgry{
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
}

.cat-h1{
  font-size: 22px;
}

.blog-news{
  margin-bottom: 20px;
  margin-top: 10px;
  background: #f3f4f5;
  padding: 30px;
}

.ltst{
  width: 90%;
}

.blog-tag{
  margin-bottom: 20px;
  margin-top: 10px;
  background: #f3f4f5;
  padding: 30px;

}

.plt.a{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plt.b{
 background-color: #a7a7a7;
 border: 1px solid #f5f5f5;
}

.plt.b:hover{
  background-color: #0000007e;
 }