#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
  
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 85vh;
  }
  
  .swiper-wrapper{
     background:  rgb(68 64 60);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically 
    display: flex;
    justify-content: center;
    align-items: center;*/
  }

  .second-showcase{
    padding: 60px; 
  }

  .grd{
    background: #212224;
  }

  .grd-mkt{
    height: 275px;
  }

  .sec-showcase{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
  }
  
.swiper-slide img {
    display: block;
    width: 86%;
    height: 86%;
    object-fit: cover;
}

.swiper-button-next::after{
    color: white;
}

.swiper-button-prev::after{
    color: white;
}

.contner{
    position: relative; 
}

.spread{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
  
/* Dropdown Styles */
.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    min-width: 160px;
  }
  
  .dropdown-content li {
    padding: 8px 16px;
  }
  
  .dropdown-content li:hover {
    background-color: #f5f5f5;
  }
  
  /* Hide the dropdown by default */
  .dropdown-content {
    display: none;
  }
  
  /* Position the dropdown content */
  .dropdown-content.absolute {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .third-container{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 55%, rgb(255, 239, 236) 100%);
  }

  .third-container .first-flex{
    display: flex;
}

.third-container .first-flex .first-flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.third-container .first-flex .first-flex-container .text-blurb{
    margin-left: 10px;
}

.third-container .first-flex .first-flex-container .text-blurb h1{
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 22px;
}

.third-container .first-flex .first-flex-container .text-blurb p{
    padding-bottom: 10px;
    font-size: 17px;
    width: 75%;
    color: #707070;
}

.third-container .first-flex .first-flex-container .text-blurb button{
    padding-top: 10px;
    color: #707070c7;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
}

.third-container .first-flex .first-flex-container .text-blurb button:hover{
   border-bottom: 2px solid #707070;
   color: #707070;
   transition: 0.4s solid ease-in-out;
}

.rect{
  width: 70%;
  margin-bottom: 20px;
}

.circ{
  margin: auto;
  padding-top: 20px;
}

.bgh{
  background-image:url('/in-liquid-3-bg.png');
}

.bgg{
  background-image:url('/in-team-background-1.png');
  background: rgba(233, 233, 233, 0.808);
}

.blg{
  padding-left: 50px;
  padding-right: 50px;
}

.bg-money{
  background-image:url('/in-liquid-5-bg.png');
}

.oko{
  width: 50px!important;
}

.lst{
  margin-top: 80px;
  margin-bottom: 70px;
}

.lrt{
  margin-top: 50px;
  margin-bottom: 40px;
}

.logo{
  width: 70px;
  height: 70px;
}

.custom-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color:rgba(33, 34, 36, 0.8);
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  height: 80px;
  transition: 0.5s;
  opacity: 1;
}

.fixed{
  position: fixed;
}

.header-down{
  opacity: 0;
  transition: 0.5s;
}

.company-name{
  color: white;
  font-size: 27px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;;
}

.nav > a:hover{
  color: white;
}

.custom-button{
  height: 40px;
  background-color: #FC5B3F;
  font-size: 12px;
  font-weight: 300;
}

.border-orange{
  border-color: #FC5B3F;
}

.section-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.section-flex .first-grid{
  display: flex;
  align-items: center;
}

.core{
  margin: auto;
}

.blog-flex{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 50px;
  margin-bottom: 20px;
}

.small-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.flexpr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx{
  display: flex;
  justify-content: space-between;
}

.plt{
  background: rgb(92, 212, 92);
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(92, 212, 92);
  border-radius: 3%;
  width: 100px;
  height: 25px;
  color: #fff;
  padding-bottom: 20px;
}

.blog-card{
  padding-bottom: 30px;
  border: 1px solid gainsboro;
}

.blog-img{
  padding-right: unset!important;
  padding-left: unset!important;
}

.flx{
  padding-left: 15px;
  padding-right: 15px;
}

.search-btn{
  margin-bottom: 30px;
}

.search-btn input{
  border: 1px solid gainsboro;
  padding: 9px;
  width: 74%;
}

.search-btn button:hover{
  background-color: #fc5b3fc2;
}

.blog-categories{
  background: #f3f4f5;
  padding: 30px;
  margin-bottom: 30px;
}

.blog-categories.a{
  background-color: #fff;
  border: 1px solid gainsboro;
}

.blog-categories.global{
  background-color: #fff;
  border: 1px solid gainsboro;
  height: 65vh;
}

.blog-categories.globl{
  background-color: #fff;
  border: 1px solid gainsboro;
  height: 85vh;
}

.blog-flex-second{
  margin-left: 40px;
}

.ctgry{
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
}

.ctgry.i{
  flex-direction: column;
}

.ctg{
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.cat-h1{
  font-size: 22px;
}

.blog-news{
  margin-bottom: 20px;
  margin-top: 10px;
  background: #f3f4f5;
  padding: 30px;
}

.ltst{
  width: 90%;
}

.blog-tag{
  margin-bottom: 20px;
  margin-top: 10px;
  background: #f3f4f5;
  padding: 30px;

}

.plt.a{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plt.b{
 background-color: #a7a7a7;
 border: 1px solid #f5f5f5;
}

.plt.b:hover{
  background-color: #0000007e;
 }

 .section-flex-customers{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }

 .this-img{
  width: 12%!important;
 }

 .second-flex-2{
   display: flex;
   margin-bottom: 15px;
   margin-top: 35px;
 }

 .mobile-menu{
  position:absolute;
  right: -1000px;
  display: none!important;
  top: 78px;
  width: 40vw;
  height: 100vh;
  background: #212224;
 }

 .mobile-menu.nav{
  display: unset!important;
  align-items: unset!important;
  justify-content: unset!important;
 }

 .nav{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;;
}

 .mobile-menu-nav{
  display: flex;
  flex-direction: column;
 }

 .mobile-menu-nav a{
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px solid #FC5B3F;
}

 @media (max-width: 768px) {
  html{
    overflow-x: hidden!important;
  }
  body{
    overflow-x: hidden!important;
  }
  .mobile-header-img{
    width: 50px;
    height: 50px;
    margin-right: 0px!important;
  }

  .mobile-header-text{
    font-size: 16px;
  }

  .swiper-slide img {
    margin-left: 18px;
    object-fit: cover;
  }

  .hero-paragraph{
    padding-right: 30px;
    /* display: none; */
    font-size: 17px;
    padding-left: 30px;
}

 .hero-heading{
    font-size: 23px;
    margin-top: 11px;
    line-height: 2.5rem;
}

.hero-button{
    font-size: 16px;
}

.swiper{
  height: unset!important;
  background: rgb(68 64 60);
}

.second-showcase{
  padding: 25px;
  font-size: 20px;
}

.second-text{
  font-size: 20px;
}

.sec-showcase{
  grid-template-columns: 1fr;
}

.third-container .first-flex {
  flex-direction: column;
}

.rect{
  width: 90%;
}

.laptop-showcase{
  margin-left: 0px;
}

.laptop-showcase-text{
  padding-left: 30px;
}

.change-text{
  font-size: 30px;
}

.pay-grid{
  grid-template-columns: 1fr 1fr 1fr;
}

.pay-grid-img{
  width: 100%;
}

.footer-p{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.blg{
  grid-template-columns: 1fr;
}

.btn-hide{
  display: none;
}

.hide-mobile{
  display: none;
}

  #hamburger-btn{
      display: block;
  }

  .nav {
    position: absolute;
    right: -200px;
    display: none;
    transition: all 0.4s ease-in-out;
  }

  .tab-menu{
    display: none;
  }

  .nav.show {
    right: 0px;
    transition: all 0.4s ease-in-out;
  }


  .custom-button {
    display: none;
  }

  #hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: 30px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 17px;
}

#hamburger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

  #hamburger-btn span:nth-child(1) {
    top: 0;
  }

  #hamburger-btn span:nth-child(2),
  #hamburger-btn span:nth-child(3) {
    top: 50%;
    margin-top: -1px;
  }

  #hamburger-btn span:nth-child(2) {
    transform: translateY(-6px);
  }

  #hamburger-btn span:nth-child(3) {
    transform: translateY(3px);
}
}

